* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

h1{
    font-weight: 900;
}

.container {
    max-width: 1340px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#nav_bar{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo{

}


#nav_bar a{
    text-decoration: none;
    border-top: 3px solid transparent;
    padding-top: 35px;
}

#nav_bar a:hover{
    border-top-color: blue;
    color: blue;
}

#nav_bar a:last-child{
    margin-left: 60px;
}

footer {
    background: #F2F2F2;
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
    padding: 20px;
}

#search{
    display: flex;
    height: 45px;
    margin-top: 15px;
}

#search_input{
    background-color: white;
    height: 41px;
    width: 120px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-top: solid 1px #F4F3F3;
    border-bottom: solid 1px #F4F3F3;
    font-weight: bold;
    color: black;
}
#search_input:focus{
    outline: none;
}

#search_dot{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    background-color: #F4F3F3;

}

#button_search {
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    padding: 0 12px;
}

#button_search_icon{
    display: none;
}

.search_filter{
    display: flex
}

.search_filter ul{
    display: flex;
    flex-wrap: wrap;
}

.search_filter i{
    border-radius:100px;
    color: #0065fc;
    margin-right: 8px;
}

.search_filter li{
    list-style: none;
    padding: 12px;
    border: solid 2px #d9d9d9;
    border-radius: 32px;
    cursor: pointer;
    font-weight: bold;;
    margin-right: 12px;
}

.search_filter li:hover{
    background-color: #deebff;
}

.information{
    display: flex;
    align-items: center;
}

.information p{
    display: initial;
}

#info {
    margin-right: 8px;
    color: #0065fc;
    border: solid 2px #eadddd;
    border-radius: 100%;
    font-size: 14px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section_content{
    display: flex;
    justify-content: space-between;
    padding: 3.5px;
}

.hebergements-container{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 66%;
    padding: 0 40px;
    box-sizing: border-box;
}

.hebergements{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.hebergement-card{
    display: inline-block;
    height: 199px;
    width: 28%;
    background-color: white;
    padding: 4px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-right: 31px;
}

.hebergement-card h4, .hebergement-card p{
    margin: 0;
}

.hebergement-card > div {
    padding: 4px 16px;
}

.hebergement-card p {
    padding: 8px 0;
}

.card_img{
    width: 100%;
    height: 55%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements h3{
    margin: 30px;
}

.star i {
    font-size: 12px;
}

.star_blue{
    color: #0065FC;
}

.star_grey{
    color: #D9D9D9;
}

.showMore{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    font-weight: bold;
}

.populaire_container{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    padding: 0 40px;
    box-sizing: border-box;
}

.card_populaire{
    display: inline-block;
    height: 144px;
    width: 100%;
    background-color: white;
    padding: 4px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-right: 31px;
}

.img_populaire{
    width: 40%;
    height: 144px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline;
    flex-shrink: 0;
}

.populaireC{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.activities{
    margin-top: 50px;
}

.activities_list{
    display: flex;
    justify-content: space-between;
}

.activities_card{
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
}

.activities_card img{
    height: 445px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activities_card p{
    padding-left: 20px;
    font-weight: bold;
}

.footer_left ul{
    padding: 0;
    margin: 0;
}

.footer_left li{
    list-style-type: none;
    text-decoration: none;
}

.footer_mid ul{
    padding: 0;
    margin: 0;
}

.footer_mid li{
    list-style-type: none;
    text-decoration: none;
}

.footer_right ul{
    padding: 0;
    margin: 0;
}

.footer_right li{
    list-style-type: none;
    text-decoration: none;
}

.fa-chart-line{
    color: blue;
    margin-left: auto;
}

.titre_pop{
    display: flex;
    align-items: center;
}